body{
    margin: auto;
}

.nav-wrap{
    background-color: #353839;
    padding: 5px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-list{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

.nav-list li{
    display: inline;
    margin: 0;
}

.nav-list li a:hover{
    background-color: #f0f8ff;
}

.nav-list li a:active{
    background-color: #000036;
}




.img-bg {
    width: 100%;
}