body{
    margin: auto;
}

.nav-wrap{
    background-color: #353839;
    padding: 5px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-list{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

.nav-list li{
    display: inline;
    margin: 0;
}

.nav-list li a{
    color: #f0f8ff;
    text-decoration:none;
}

.nav-list li a:hover{
    background-color: #f0f8ff;
}

.nav-list li a:active{
    background-color: #004242;
}

.nav-list li a:visited{
    background-color: #123524;
}

.form-container {
    background-color: #242124;
    width: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: -280px;
    right: 0;
    transition: .5s;

}

.form-container:hover{
    bottom: 0;
}

#email-envelope{
    color: #f0f8ff;
    width: 50px;
    float: left;
}

.form-header-container{
    background-color: #353839;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.form-item{
    margin-left: 15px;
    color: #f0f8ff;
    padding-left: 8px;
}

#message{
    height: 100px;
    width: 200px;
}

#submit-btn{
    background-color: #180fcd;
    color: #f0f8ff;
    padding: 7px 12px;
    margin: 9px 18px;
    border: 9;
}

.img-bg {
    width: 100%;
}
